.form-layout {
    border-radius: 15px;
    width: 70%;
}

.record__detail {
    color: white;
    font-weight: 300;
}

.table th {
    color: white;
    opacity: 0.7;
    font-weight: 300;
}

.table td,
.table th {
    padding: 10px 0 10px 15px; /* Adjust the padding value as needed */
  }

@media screen and (max-width: 426px) {
    .btn {
        margin: 5px 0;
    }
}

/*
#message-timer {
    background-color: none;
}*/
